<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-class>tania.MyFirstServlet</servlet-class>
    <servlet-name>MyFirstServlet</servlet-name>
  </servlet>
  <servlet>
    <servlet-class>tania.AuthorizationServlet</servlet-class>
    <servlet-name>AuthorizationServlet</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/messages/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthorizationServlet</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>
</web-app>
